# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
node_modules/
.expo/
.expo-shared/
dist/

export const OPENAI_API_KEY = "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";







